/* Button */
.button {
  background-color:#cfd2ea;
  border: none;
  color: #5865E0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 22px 21px;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
}

.button2 {
  background-color: #5865E0;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 22px 0px;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 22px;
  font-weight: bold;
}

/* Light */
p {
    color: grey;
    font-size: 14px;
}

ul {
    color: grey;
    font-size: 14px;
}

ol {
    color: grey;
    font-size: 14px;
}

a {
    font-weight: bold;
    font-style: normal;
}


.apply p {
    color: white
}

.apply ul {
    color: white
}

.apply ol {
    color: white
}

.detailsLight strong {
    color: black;
    font-weight: bold;
    font-size: 16px;
}

.detailsLight h3 {
    color: black;
    font-weight: bold;
    font-size: 16px;
}

.detailsDark strong {
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.detailsDark h3 {
    color: white;
    font-weight: bold;
    font-size: 16px;
}
