.jobofferMainLight {
    margin: 10px;
    background-color: white;
    border-radius: 8px;
    height: 275px;
    display: grid;
    grid-gap: 5px;
    grid-template-rows: 50px 50px 50px 50px 50px
}

.jobofferMainDark {
    margin: 10px;
    background-color: #19212D;
    border-radius: 8px;
    height: 275px;
    display: grid;
    grid-gap: 5px;
    grid-template-rows: 50px 50px 50px 50px 50px
}