.loading {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #5865e0;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  margin: auto;
  &__loader {
    margin: auto;
    font-size: 30px;
    font-weight: 700;
    color: #5865e0;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
